@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,
a,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: Opx 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

body {
    background-color: black;
    font-family: 'Mulish', sans-serif;
}

.Hbtn {
    background: none;
    border: none;
}

#mainbox {
    font-size: 40px;
    cursor: pointer;
    transition: all .6s;
    /* margin-left: 85vw !important; */
    color: white;
}

.sidemenu {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    background-color: white;
    z-index: 1;
    padding-top: 100px;
    overflow-x: hidden;
    /* padding: 40px 40px;  */
    transition: all .5s;
}

.sidemenu a {
    /* padding: 8px 8px 8px 64px; */
    padding: 40px 40px;
    font-weight: 300;
    line-height: 57.6px;
    text-decoration: none;
    font-size: 38px;
    color: white;
    display: block;
}

.menu {
    padding: 80px;
}

.sidemenu a {
    color: Black;
}

.sidemenu .closebtn {
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 50px;
    margin-left: 32px;
}